.center {
  font-family: "Lucida Console", "Courier New", monospace;
  color: rgb(220, 220, 220);
}
body {
    margin: 10;
    text-align: center;
}
h1 {
    font-size: 50px;
  }
  
  h2 {
    font-size: 20px;
    
  }
  
  p {
    font-size: 30px;
  }

.button {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #474747;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.button:hover {background-color: #000000}

.button:active {
  background-color: #2b2b2b;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
