body {
    margin: 10;
    text-align: center;
}
p.double {
    border-style: double;
}
h5 {
    margin: 20;
    text-align: center;
    font-family: "Lucida Console", "Courier New", monospace;
    color: rgb(255, 255, 255);
    font-size: 15px;
    line-height: 2px;
    
}
.leftbody {
    margin: 10;
    text-align: left;
    font-family: "Lucida Console", "Courier New", monospace;
    color: rgb(255, 255, 255);
    font-size: 15px;
    line-height: 25px;
    
}
.center_border {
    font-family: "Lucida Console", "Courier New", monospace;
    color: rgb(220, 220, 220);
    line-height: 40px;
    border: 2px solid rgb(6, 157, 31);
    border-radius: 15px;
    border-style: solid;
    border-width: 2px 5px 2px 5px;
}
.center_norm
{
    font-family: "Lucida Console", "Courier New", monospace;
    color: rgb(220, 220, 220);
}

body {
    margin: 10;
    text-align: center;
}
h1 {
font-size: 30px;
}

h2 {
font-size: 20px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  ul {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }
.center-sticky
{
  position: sticky;
  top: 0;
  font-family: "Lucida Console", "Courier New", monospace;
  color: rgb(220, 220, 220);
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  padding: 10px;
}
.grid-item {
  background-color: rgb(20,20,20);
  border: 1px solid rgb(20,20,20);
  padding: 20px;
  text-align: center;
}
.iframe
{
  background-color: rgb(20,20,20);
  border: 1px solid rgb(20,20,20);
  padding: 20px;
  text-align: center;
}
h3
{
  text-align: center;
  margin-top: 50px;
  margin-bottom: auto;
  font-family: "Lucida Console", "Courier New", monospace;
  color: rgb(220, 220, 220);
}