body {
  margin: 10px;
  text-align: center;
}

p.double {
  border-style: double;
}

h5 {
  margin: 20px;
  text-align: center;
  font-family: "Lucida Console", "Courier New", monospace;
  color: rgb(255, 255, 255);
  font-size: 15px;
  line-height: 2px;
}

.leftbody {
  margin: 10px;
  text-align: left;
  font-family: "Lucida Console", "Courier New", monospace;
  color: rgb(255, 255, 255);
  font-size: 15px;
  line-height: 25px;
}

.center_border {
  font-family: "Lucida Console", "Courier New", monospace;
  color: rgb(220, 220, 220);
  line-height: 40px;
  border: 2px solid rgb(6, 157, 31);
  border-radius: 15px;
  border-style: solid;
  border-width: 2px 5px 2px 5px;
}

.center_norm {
  font-family: "Lucida Console", "Courier New", monospace;
  color: rgb(220, 220, 220);
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 20px;
}

p {
  font-size: 20px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}

.center-sticky {
  position: sticky;
  top: 0;
  font-family: "Lucida Console", "Courier New", monospace;
  color: rgb(220, 220, 220);
}

iframe {
  filter: invert(85%);
  background-color: #fff;
  color: rgb(20, 20, 20);
}

.iframe {
  color: rgb(20, 20, 20);
}