body {
    margin: 10;
    text-align: center;
}
p.double {
    border-style: double;
}

.center_border {
    font-family: "Lucida Console", "Courier New", monospace;
    color: rgb(0, 0, 0);
    
    border: 2px solid rgb(6, 147, 157);
    border-radius: 5px;
    border-style: solid;
    border-width: 2px 5px 2px 5px;
}
.center_norm
{
    font-family: "Lucida Console", "Courier New", monospace;
    color: rgb(0, 0, 0);
}
