.center {
  font-family: "Lucida Console", "Courier New", monospace;
  color: rgb(220, 220, 220);
}
body {
    margin: 10;
    text-align: center;
}
h1 {
    font-size: 50px;
  }
  
  h2 {
    font-size: 20px;
  }
  
  p {
    font-size: 30px;
  }